<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" class="collapsed" th:classappend="${isAuthenticated} ? ' authenticated'" id="side-bar">
    <ul class="logo">
        <a th:href="@{/}" class="logo-link">
            <img class="image" th:src="@{/images/logo/nmcvc.png}" alt="logo" />
            <span class="text">Nhà</span>
        </a>
    </ul>

    <ul class="menu">
        <a th:href="@{/}" class="menu-link">
            <span class="material-symbols-rounded">home</span>
            <span class="text">Home</span>
        </a>
        <a th:href="@{/collections}" class="menu-link">
            <span class="material-symbols-rounded">newsstand</span>
            <span class="text">Collections</span>
        </a>
        <a th:href="@{/topics}" class="menu-link">
            <span class="material-symbols-rounded">news</span>
            <span class="text">Topics</span>
        </a>
        <a href="#" class="menu-link">
            <span class="material-symbols-rounded">search</span>
            <span class="text">Explore</span>
        </a>
        <a href="#" class="menu-link">
            <span class="material-symbols-rounded">notifications</span>
            <span class="text">Notifications</span>
        </a>
    </ul>

    <ul class="authentication" th:if="${!isAuthenticated}">
        <a th:href="@{/authentication}" class="authentication-link" id="authentication-button">
            <span class="material-symbols-rounded">assignment_ind</span>
            <span class="text">Login/Register &ThinSpace;</span>
        </a>
    </ul>

    <ul class="personal" th:if="${isAuthenticated}">
        <div class="dropdown-content" id="personal-content">
            <a href="#" class="personal-link" id="personal-page-button">
                <span class="material-symbols-rounded">person</span>
                <span class="text">Personal Page</span>
            </a>
            <form th:action="@{/logout}" method="post" class="personal-link logout-form">
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}"
                />
                <button type="submit" class="logout-btn">
                    <span class="material-symbols-rounded">logout</span>
                    <span class="text">Logout</span>
                </button>
            </form>
        </div>
        <div class="dropdown-button" id="personal-button">
            <img
                    th:src="${currentUser != null && currentUser.avatar != null} ? ${currentUser.avatar} : '/images/user/default.png'"
                    alt="personal-avatar"
            />
            <span class="text" th:text="'@' + ${currentUser.username}"></span>
        </div>
    </ul>

    <div class="expand-nav-button" id="expand-nav-button">
        <span class="material-symbols-rounded">right_panel_close</span>
    </div>
    <div class="collapse-nav-button" id="collapse-nav-button">
        <span class="material-symbols-rounded">arrow_menu_close</span>
    </div>
</nav>
</body>
</html>