<!doctype html>
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title layout:title-pattern="$CONTENT_TITLE | Nhà, mây, cá và cây">Nhà, mây, cá và cây</title>
</head>
<body>
<th:block th:replace="~{shares/nav :: nav}"></th:block>

<th:block th:replace="~{shares/website-settings :: websiteSettings}"></th:block>

<div class="wrapper">
    <th:block th:replace="~{shares/header :: header}"></th:block>

    <main layout:fragment="content"></main>

    <th:block th:replace="~{shares/footer :: footer}"></th:block>
</div>

<span class="device-screen-dimension" id="device-screen-dimension">Loading...</span>

<th:block layout:fragment="pageScripts"></th:block>
<script th:src="@{/js/index.js}" defer></script>
</body>
</html>