<!DOCTYPE html>
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <th:block layout:fragment="styles"></th:block>

    <title th:text="${pageTitle != null ? pageTitle : 'Nhà, mây, cá và cây'}">Nhà, mây, cá và cây</title>
</head>
<body>
<div th:replace="~{shares/nav :: nav}"></div>
<div th:replace="~{shares/website-settings :: website-settings}"></div>

<div class="wrapper">
    <div
            th:replace="~{shares/header :: header(${pageTitle != null ? pageTitle : 'Trang chủ'})}"
    ></div>

    <main layout:fragment="content"></main>

    <div th:replace="~{shares/footer :: footer}"></div>
</div>

<!-- Nhớ xóa khi deploy -->
<span class="device-screen-dimension" id="device-screen-dimension">Loading...</span>

<script th:src="@{/js/index.js}" defer></script>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>